.task {
  display: grid;
  grid-template-columns: 50px 1fr 80px;
  gap: 10px;
  align-items: center;
  padding: 20px 30px;
  border-bottom: 1px solid rgb(var(--v-theme-socondary));
  position: relative;

  aside {
    position: absolute;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(var(--v-theme-primary));
    height: 100%;
    cursor: pointer;
    transform: translateX(-100%);
    transition: 0.25s ease-in-out all;
    z-index: 101;

    .v-icon {
      transition: 0.25s ease-in-out transform;
    }

    .actions {
      display: none;
      margin: 0 auto;
      gap: 10px;
      align-items: center;
    }

    &:hover {
      opacity: 0.7;
    }

    &.active {
      width: 100%;

      .actions {
        display: flex;
      }

      .v-icon {
        transform: rotate(-180deg);
      }

      &:hover {
        opacity: 1;
      }
    }
  }

  .name-text {
    text-align: left;
  }

  .created-at {
    text-transform: uppercase;
  }

  &.done {
    .name-text, .created-at {
      text-decoration: line-through;
      text-decoration-color: rgb(var(--v-theme-socondary));;
    }


  }

  &:hover {
    aside {
      transform: none;
    }
  }
}

.v-input__details {
  text-decoration: none !important;
  display: none;
}